@import '../node_modules/antd/dist/antd.css';
h1, p, h4, h3, h2 {
  font-family: 'Kaushan Script', cursive !important;
}

#first-half{
  font-family: 'Kaushan Script', cursive;
  background: linear-gradient(to right, #b92b27, #1565c0);
  min-height: 670px;
  color:white ;
}

#nsas-detail {
  background: #006633;
  color:gold;
  font-size: 22px;
}

#abs {
  position: fixed;
  min-height: 1000px;
  background: white;
  z-index: 100;
  top: 0;
  /*left: 100%;*/
  overflow-y: auto;
  left: auto;
  right:0;
}

#nsas-detail-h2 {
    color: white;
    font-size: 25px;
    font-family: 'Kaushan Script', cursive;
}

.heading {
    font-weight: bold;
    font-size: -webkit-xxx-large;
}

.item .carousel-image {
    width: 100%
}

.carousel-indicators {
    left:91px !important;
}

#nepal-flag {
  height: 50px;
}
.page-footer {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.footer-copyright {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 490px;
  line-height: 10px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.carousel-image {
  width: 100%;
}

.fourth-half {
  background: linear-gradient(to right, #e52d27, #b31217);
}

@media (max-width: 800px) {
    .EventsCarousel .ant-card-hoverable {
        width: auto;
    }

  .carousel-indicators {
        left: 21px !important;
  }
  .first-half{
  min-height: 470px !important;
  }
}

.EventsCarousel .slick-next {
    background: black ;
    border-radius: 25px;
    right: 25px;
}

.EventsCarousel .slick-next:hover, .EventsCarousel .slick-next:focus{
    background: black ;
}

