@import '../node_modules/antd/dist/antd.css';

#nepal-flag {
    height:60px;
}
.group-btn {
    color: #fff;
    height: 38px;
}

#featuredCarouselStyle {
    min-height: 410px;
    max-height: 430px;
}

.btn-purple {
    background: #800080;
    color: white !important;
}

.btn-blue {
    background: #27ccc0;
    color: white !important;
}

.btn-holi {
    background: #E94B3C;
    color: white !important;
}

.btn-primary {
    color: white !important;
}

.btn-outline-success {
    color: #28a745 !important;
}

.btn-outline-info {
    color: #17a2b8 !important;
}

.btn-outline-success:hover, .btn-outline-info:hover {
    color: white !important;
}

 h1 {
    font-family: 'Kaushan Script', cursive !important;
    font-size: 53px;
 }

 #southeasternLogo {
     width: inherit;
     margin-top: 8px;
 }

.carousel-item > img {
    width: 100%;
}

#nsasName {
    min-height: 380px;
}

#nsas-detail {
  background: #006633;
  color:gold;
}

#nsas-detail-h2 {
    color: white;
}

.page-footer {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.footer-copyright {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 490px;
  line-height: 10px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.fourth-half {
  background: linear-gradient(to right, #e52d27, #b31217);
}

.EventsCarousel .slick-next {
    background: black ;
    border-radius: 25px;
    right: 25px;
}

.EventsCarousel .slick-next:hover, .EventsCarousel .slick-next:focus{
    background: black ;
}


@media (max-width: 800px) {
    .EventsCarousel .ant-card-hoverable {
        width: auto !important;
    }

    #detail {
        margin-bottom: 25px;
    }

    #featuredCarouselStyle {
        min-height: 233px;
    }
}